/* Hoja de estilo basica */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family : "Courier", sans-serif;
}

header{
	background-image: url(../images/header_background.jpg);
	background-size: 1500px;
	font-family: "Courier";
}

#cabecera {
	padding: 3%;
	box-sizing: inherit;
}

#cabecera_indice{
	width: auto;
	color: ivory;
	float: right;
	padding-top: 70px;
}

#descrip {
	width: 100%;
	font-family: "Courier";
	font-size: 200%;
}

nav{
	padding-top: 10px;
	text-align: center;
}

nav > a{
	margin-right: 10px;
	color: ivory;
	font-weight: 300;
}

main {
	padding: 3%;	
}

p {
	padding: 7px;
}

h1 {
	text-align: center;
	padding-bottom: 10px;
	font-size: 150%;
}

h2 {
	padding-bottom: 8px;
	padding-top: 20px; 
	font-size: 130%;
}

h1, h2 {
	font-weight: bold;
	font-family: "Courier";
}

a{
	color: grey;
	text-decoration: none;
}

li > ul{
	margin-left: 35px;
}

li {
	margin-left: 30px;
}

video, img{
	display: block;
	margin: 0 auto;
}

table.precios{
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
  	width: 50%;
  	text-align: center;
  	margin-left: 25%;
  	margin-right: 25%;
}

table.precios th, table.precios td{
	border: 1px solid #1C6EA4;
}

table.precios th{
	background-color: #ffe1fc;
}

#icono {
	width: 300px; height: 300px;
}

#foto1 {
  width: 600px; height: 350px;
}

/*colocar las fotos*/
#galeria{
  display: flex;
  flex-wrap: wrap;
}

#galeria img {
  max-width: 40%;
  height: auto;
  padding-top: 10px;
}

footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: absolute;
}



